# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Virtual Environment
# -----------------------------
geospectra_env/
venv/

# -----------------------------
# Raw Planet Data
# -----------------------------
data/raw/

# -----------------------------
# Generated outputs
# -----------------------------
outputs/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Windows
# -----------------------------
Thumbs.db
Desktop.ini

# -----------------------------
# macOS
# -----------------------------
.DS_Store